<main class="max-w-6xl mx-auto pb-24">
    <h1 class="text-5xl font-bold text-center mb-12">接下来，要开始创建一个新的项目了哦！</h1>
    <h1 class="text-3xl font-bold mb-4">第1步、创建新的项目</h1>
    @let str1 = "# 执行命令<br>ng new MyProjectName --routing --style=scss --skip-tests ";
    <ngx-code-viewer
        [code]="str1"></ngx-code-viewer>





    <!--<h1 class="text-3xl font-bold mb-4 mt-10">第2步、检查NodeJS的版本</h1>
    <ngx-code-viewer
        code="# 执行命令<br>node -v <br># 如果出来类似下面的数字说明安装成功<br>v18.20.3"></ngx-code-viewer>
    <h1 class="text-3xl font-bold mb-4 mt-10">第3步、安装Angular Cli</h1>
    <ngx-code-viewer code="# 执行命令<br>npm i -g @angular/cli"></ngx-code-viewer>
    <p class="text-gray-700 mt-4">
        这个过程有可能会很长，这是因为安装{{ '@angular/cli' }}的过程中会从国外的网站下载一些资源。
    </p>
    <p class="text-gray-700 mt-4 mb-4">
        所以很多时候我们需要设置国内的npm资源地址。
    </p>
    <ngx-code-viewer code="# 执行命令<br>npm config set registry https://registry.npmmirror.com"></ngx-code-viewer>
    <p class="text-gray-700 mt-4 mb-4">然后然后再执行安装{{ '@angular/cli' }}的命令，就会成功啦！</p>
    <ngx-page-pager prev="/step0001" next="/step0003"></ngx-page-pager>-->
</main>
