<main class="text-center">
    <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <div>
            <img class="inline-block" ngSrc="images/angular_logo.png" width="360" height="112" alt="angular logo">
        </div>
        <h1 class="text-5xl font-bold leading-loose bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
            一起学习Angular吧！
        </h1>
        <h2 class="text-1xl font-normal text-slate-400 py-6 dark:text-white">
            我们的目标是写一个todolist，简单的案例。
        </h2>
        <button type="button" class="inline-block text-2xl rounded bg-blue-900 text-center py-3 px-8 text-white mt-6"
                routerLink="/step0001">开始学习
        </button>
        <div class="pt-20"></div>
    </div>
</main>

