<main class="text-center">
    <div>
        <img class="inline-block" ngSrc="images/angular_logo.png" width="360" height="112" alt="angular logo">
    </div>
    <h1 class="text-3xl font-bold text-black py-6">
        一起学习Angular吧！
    </h1>
    <h2 class="text-1xl font-bold text-slate-400 py-6">
        我们的目标是写一个todolist，简单的案例。
    </h2>
    <button type="button" class="inline-block rounded bg-blue-900 text-center py-2 px-6 text-white mt-6"
            routerLink="/step0001">开始学习
    </button>
</main>

